.window {
  @apply w-screen h-screen flex justify-center items-center;
}

.wrapper {
  @apply w-[57.5rem] flex flex-col items-center text-center p-5;
}

.title {
  @apply text-[16.25rem] text-[#46A358] mb-5 leading-none select-none font-cera-pro-regular;

  @media (max-width: 505px) {
    @apply text-[12rem];
  }
}

.subtitle {
  @apply text-[2.625rem] text-[#3D3D3D] mb-10 font-cera-pro-regular;

  @media (max-width: 650px) {
    @apply text-[2.2rem];
  }

  @media (max-width: 480px) {
    @apply text-[1.8rem] mb-5;
  }
}

.description {
  @apply text-[1.5rem] leading-8 text-[#3D3D3D] mb-16 font-cera-pro-regular;

  @media (max-width: 650px) {
    @apply text-[1.2rem] mb-10;
  }
}

.navigation {
  @apply flex items-center gap-4 select-none;

  &__back,
  &__home {
    @apply h-[3.875rem] w-52 bg-[#46A358] border-[1px] border-solid border-[#959595] rounded-[1.9375rem] text-white text-lg font-cera-pro-bold;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: linear;

    &:hover {
      @apply scale-110;
    }

    @media (max-width: 485px) {
      @apply w-40;
    }
  }
}
